@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

:root {
    --grin-bg-color: #124F48;
    --white-text-color: #ffffff;
    --primary-text-color: #464646;
    --bg-color-section: #E9FBF9;
    --pretitle-text-color: #FF6107;
    --text-color: #464646;
    --secondary-link-bg: #FF823B;
}

/* Universalwähler */
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* utility */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* hat project */
.header {
    margin-top: 40px;
    margin-bottom: 70px;
}

.container {
    width: 1145px;

    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 1px solid red;
}

.header-flex {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 150px;
}

/* navigation */
.nav-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.primary-text {
    color: var(--primary-text-color);
}

.nav-list .nav-list__item + .nav-list__item {
    margin-left: 59px;
}

.primary-link__grin,
.secondary-link__orang {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form-link {
    border-radius: 50px;

    width: 126px;
    height: 57px;
}

.primary-link__grin {
    margin-left: auto;

    background-color: var(--grin-bg-color);
    color: var(--white-text-color);
}

.current {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.nav-list__item {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
}

/* hiro section */
.hiro {
    width: 1319px;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--bg-color-section);

    border-radius: 20px;

    outline: 1px solid tomato;
}

.pretitle {
    display: inline-block;

    font-size: 16px;
    font-weight: 400;
    line-height: 0.30;

    margin-top: 74px;
    margin-bottom: 30px;
    padding: 11px 22px;

    border-radius: 2px;

    background-color: var(--white-text-color);
    color: var(--pretitle-text-color);

}

.hiro__title {
    font-family: 'Open+Sans', sans-serif;
    margin-bottom: 31px;

    font-size: 64px;
    font-weight: 900;
    line-height: 1.1;
}

.hiro__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;

    margin-bottom: 81px;

    color: var(--text-color);
}

.secondary-list {
    display: flex;
    align-items: baseline;
}

.secondary-list__title {
    margin-right: 55px;
}

.secondary-link,
.secondary-link__orang {
    font-size: 18;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.secondary-link {
    color: var(--secondary-link-bg);
}

.secondary-link__orang {
    margin-bottom: 106px;
    
    color: var(--white-text-color);
    background-color: var(--secondary-link-bg);
}