/* clients */
.clients {
    margin-bottom: 100px;
}

.client-list {
    display: inline-flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-right: -30px;
}

.clients-list__item {
    margin-top: 30px;
    margin-right: 30px;

    flex-basis: calc(100% / 4 - 30px);
}

.clients-list__link {
    background-color: $clients-bg-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 255px;
    height: 103px;
}

.clients-list__icon {
    background-color: $clients-bg-color;
    overflow: visible;
}