/* navigation */
.nav-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.primary-text {
    color: $primary-text-color;
}

.nav-list .nav-list__item + .nav-list__item {
    margin-left: 59px;
}

.primary-btn__grin,
.secondary-link__orang {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.primary-btn__grin {
    margin-left: auto;

    border-radius: 50px;

    width: 126px;
    height: 57px;

    background-color: $grin-bg-color;
    color: $white-text-color;
}

.current {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.nav-list__item {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
}