    $grin-bg-color: #124F48;
    $white-text-color: #ffffff;
    $primary-text-color: #464646;
    $bg-color-section: #E9FBF9;
    $pretitle-text-color: #FF6107;
    $text-color: #464646;
    $secondary-link-bg: #FF823B;
    $shadow: 0px 3px 84px 0px rgba(142, 199, 192, 0.3);
    $clients-bg-color: #F1FAF9;
    $bg-color-green: #DBFFE9;
    $bg-color-yellow: #FFF7CA;
    $bg-color-red: #FFE9E0;
    $services-text-color: #464646;
    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    $services-box-shadow: 0 40px 80px -20px rgba(0, 0, 0, 0.12),
    0 20px 35px -15px rgba(0, 0, 0, 0.08);
